.wrap_category{
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}
.wrap_category a{
    width: 90px;
    height:90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 7px;
    border-radius: 50%;
    background-color: #2d2b2b;
    text-decoration: none;
    cursor: pointer;
    color: #ececec;
    margin: 0 20px;
}
.wrap_category p {
    font-size: 16px;
}
.wrap_category a:hover{
    color: #2d2b2b;
    background-color: #ececec;
}
.wrap_category  a[class='active']{
    color: #2d2b2b;
    background-color: #ececec;
}
