.wrap_recipe {
    display: flex;
    column-gap: 15px;
    padding: 15px 25px;
    flex: 1 1 50%;
    margin-top: 20px;
}
.wrap_loader{
    position: absolute;
    top: 50%;
    left: 50%;
}
.wrap_info_content {
    width: 50%;
}

.wrap_info_content h2 {
    color: #2d2b2b;
    margin-bottom: 15px;
}

.wrap_info_content img {
    max-width: 100%;
}

.info {
    width: 50%;
}

.info button {
    background-color: #ffffff;
    padding: 8px 13px;
    margin-right: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.info .action {
    background-color: #2d2b2b;
    color: #ffffff;

}

.info_container {
    margin-top: 15px;
    padding: 10px;

}

button:hover {
    background-color: #2d2b2b;
    color: #ffffff;
}

.info_container a,
.info_container p {
    color: #2d2b2b;
    text-decoration: none;
    font-weight: 400;
}

p {
    margin: 5px 0;
    font-size: 18px;
}

@media screen and (max-width: 1260px) {
    .wrap_recipe {
        flex-direction: column;
        row-gap: 20px;
    }

    .info {
        width: 100%;
    }

    .wrap_info_content {
        width: 100%;
    }
}